/* styles.css */

html, body {
  height: 100%;
  margin: 0; 
    padding: 0;
 /* Remove default margin */
}

#root {
background-color: rgb(255, 255, 255);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  height: 100%;
  display: flex; /* Optional: allows for flexible layout */
  flex-direction: column; /* Optional: makes children stack vertically */
}
